.elliot {
  grid-column: 5/12;
}

.graphics {
  grid-row: 4;
  grid-column: 5/12;
}

.zine {
  grid-column: 5/12;
}

.uganda {
  grid-row: 3;
  grid-column: 5/12;
}

.typography {
  // grid-row: 4;
  grid-column: 5/12;
}
